<wm-page data-ng-controller="MainPageController"> 
    <wm-content> 
        <wm-page-content columnwidth="12"> 
            <wm-label name="browsersListheading" caption="Browsers" fontfamily="Arial" fontsize="15" width="100%" backgroundcolor="#dbd7d7" paddingtop=".5" paddingbottom=".5" paddingunit="em" paddingleft=".5" paddingright=".5" margintop="1" marginunit="em"></wm-label> 
            <wm-livelist listclass="list-group" template="true" name="browsersList" dataset="1,2,3,4,5" itemclass="list-group-item" borderstyle="solid" bordertop="0" borderleft="0" borderright="0" borderbottom="1" bordercolor="#DDD"> 
                <wm-listtemplate layout="panel" name="listtemplate1"> 
                    <wm-composite name="composite1" captionposition="left" horizontalalign="left" marginbottom="0" borderstyle="none"> 
                        <wm-radio caption="Chrome" name="browserName"></wm-radio> 
                    </wm-composite> 
                </wm-listtemplate> 
            </wm-livelist> 
        </wm-page-content> 
    </wm-content> 
</wm-page>